/* body {
    background-image: url("/images/waitroom-background.jpg");
    background-color: #cccccc;
   } */

.players{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    position: relative;
    color: white;
    font-size: 10px;
}

.navlink{
color:white;
background-color:green;
}

.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    position: relative;
  text-align: center;
  
}

.blue-card{
    width: 290px;
}
