header {
  height: 50px;
  background-image: url("/images/wood.jpg");
  width: 100%;
  display: flex;
  justify-content: space-between;
}


a {
  text-decoration: none;
  font-weight: bold;
  color: grey;
}
.line{
  background: grey;
  width:100%;
  height:2px;
}
.leather{
  width:100%;
  height:25px;
  background-image: url("/images/leather.jpg");
}
.navbar-home {
  padding: 15px 20px;
}

.nav__ul {
  list-style: none;
}

.nav__ul li {
  display: inline-block;
  padding: 0px 15px;
}

.selected {
  color: red;
}
